<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Dalamud" value="https://kamori.goats.dev/Dalamud/Plugin/" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Dalamud">
      <package pattern="Dalamud" />
      <package pattern="Dalamud.*" />
      <package pattern="DalamudPackager" />
      <package pattern="FFXIVClientStructs" />
      <package pattern="FFXIVClientStructs.*" />
      <package pattern="Lumina" />
      <package pattern="Lumina.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
